{% extends "layout.html" %}
{% block body %}

                {% if error %}
                <!-- error start //エラー時のみ表示 -->
				<div class="error-box">
					<h2>错误</h2>
					<p>{{error}}</p>
				</div>
				<!-- error end -->
                {% endif %}


                <form method="post" enctype="multipart/form-data">

                    <input type="hidden" name="img_url" {% if item.img_url %} value="{{item.img_url}}" {% else %} value="" {% endif %}>
                    <input type="hidden" name="id" value="{{item.id}}">
                    <input type="hidden" name="outbox_id" value="{{outbox.out_box_id}}">
                    <input type="hidden" name="source" value="{{source}}">
                    <input type="hidden" name="outbox_rel_id" value="{{outbox.id}}">
                    <div>
                        <p>商品码</p><input type="text" name="jan_code"  value="{{item.jan_code}}" readonly>
                        <hr>

                        <p>商品名（日文）</p><input type="text" name="jp_name" {%if item.jp_name%} value="{{item.jp_name}}"{%else%} value="" {%endif%}>
                        <hr>
                        <p>商品名（英文）</p><input type="text" name="en_name" {%if item.en_name%} value="{{item.en_name}}"{%else%} value="" {%endif%}>
                        <hr>
                        <p>商品名（中文）</p><input type="text" name="cn_name" {%if item.cn_name%} value="{{item.cn_name}}"{%else%} value="" {%endif%}>
                        <hr>
                        <p>单价</p><input type="text" name="unit_price" {%if item.unit_price%} value="{{item.unit_price}}"{%else%} value="" {%endif%}>
                        <hr>
                        <p>数量</p><input type="number" name="number" value="{{item_num}}">
                        <hr>
                        <p>备注</p><input type="text" name="memo" {%if item.memo%} value="{{item.memo}}"{%else%} value="" {%endif%}>
                        <hr>
                        <p>图片</p>
                        <center>
                        {%if item.item_image_pic%}
                            <p><img width="150" height="auto" src="{{item.item_image_pic}}"></p>
                        {%endif%}
                        </center>

                        <!--<center><p><input type="file" name="item_image_pic"></p></center>-->
                        <hr>
                        <p>产地</p><select name="country_of_origin">
                            {%for key,madeInInfo in madeInInfos.items()%}
                                <option value={{madeInInfo.id}}
                                        {%if item.country_of_origin==madeInInfo.id%}
                                            selected
                                        {%endif%}>
                                    {{madeInInfo.made_in_country}}
                                </option>
                            {%endfor%}
                            </select>
                        <hr>

                        <p><input type="submit" name="submit" value="编辑"></p>
                        <p><input type="button" onclick="window.history.back();" value="返回"></p>
                    </div>

              </form>


{% endblock %}
